# Flutter/Dart/Pub related
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# Coverage of tests
coverage/

# Environment files
assets/environment

lib/secret/environments/*.g.dart
secrets/